/* Color palette */
:root {
  --vista-blue: #8ea4d2ff;
  --glaucous: #6279b8ff;
  --yinmn-blue: #49516fff;
  --hookers-green: #496f5dff;
  --shamrock-green: #4c9f70ff;
}

body{
  background-color: var(--glaucous);
}

/* Navbar styles */
nav {
  background-color: var(--vista-blue);
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: -8px -8px 0px -8px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

nav li {
  margin: 0 10px;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav li a:hover {
  background-color: var(--yinmn-blue);
}

/* Hero styles */
.hero {
  height: calc(100vh - 60px);
  background-color: var(--glaucous);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container {
  text-align: center;
  background-color: var(--yinmn-blue);
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}

.hero button {
  background-color: var(--hookers-green);
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero button:hover {
  background-color: var(--shamrock-green); 
  background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 50%, #000 50%, #000 75%, transparent 75%, transparent);

}



/* Login styles */
.login {
  height: calc(100vh - 60px);
  background-color: var(--glaucous);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .container {
  text-align: center;
  background-color: var(--yinmn-blue);
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login label {
  font-size: 20px;
  margin-top: 20px;
  display: block;
}

.login input {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

.login button {
  background-color: var(--hookers-green);
  color: #fff;
  border-radius: 50px; /* make it a circle */
  padding: 10px 20px; /* adjust the padding to make it wider */
  display: inline-block; /* make it a block element */
  text-align: center; /* center the text */
  text-decoration: none; /* remove underline */
  text-transform: uppercase; /* make the text uppercase */
  font-weight: bold; /* make the text bold */
  letter-spacing: 2px; /* add some letter-spacing */
  margin-top: 24px;
  margin-left: -3px;
  margin-right: 28px;
}

.forgot-password {
  font-size: 16px;
  margin-right: 10px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}



/* Register styles */
.register {
  height: calc(100vh - 60px);
  background-color: var(--glaucous);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.register .container {
  text-align: center;
  background-color: var(--yinmn-blue);
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1400px) {
  .register .container {
    margin-top: 52px;
  }
}

.register h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.register form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register label {
  font-size: 20px;
  margin-top: 20px;
  display: block;
}

.register input {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

.register button {
  background-color: var(--hookers-green);
  color: #fff;
  border-radius: 50px; /* make it a circle */
  padding: 10px 20px; /* adjust the padding to make it wider */
  display: inline-block; /* make it a block element */
  text-align: center; /* center the text */
  text-decoration: none; /* remove underline */
  text-transform: uppercase; /* make the text uppercase */
  font-weight: bold; /* make the text bold */
  letter-spacing: 2px; /* add some letter-spacing */
  margin-top: 10px;
  margin-left: 9px;
}

.register .button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

a {
  color: white;
}

/* Evaluation styles */
.artist-list, .album-list {
  display:flex;
  flex-direction:row;
}

.artist, .album{
  margin-left: 25px;
}

/* HeroEval styles */
.heroEval {
  height: calc(100vh - 60px);
  background-color: var(--glaucous);
  height: 100%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroEval .container {
  text-align: center;
  background-color: var(--yinmn-blue);
  border-radius: 10px;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
}

.heroEval h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.heroEval p {
  font-size: 24px;
  margin-bottom: 40px;
}

.heroEval button {
  background-color: var(--hookers-green);
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.heroEval button:hover {
  background-color: var(--shamrock-green); 
  background-image: linear-gradient(45deg, #000 25%, transparent 25%, transparent 50%, #000 50%, #000 75%, transparent 75%, transparent);

}

/* Forum styles */
.forum-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.forum-container h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.add-thread-btn {
  background-color: var(--shamrock-green);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.add-thread-btn:hover {
  cursor: pointer;
  background-color: var(--hookers-green);
}

.thread-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.thread {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.thread-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: black;
}

.thread-author {
  font-size: 16px;
  font-style: italic;
  color: #999;
  margin-bottom: 5px;
}

.thread-content {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: #444;
}

/* added styling for text inside each thread */
.thread-title,
.thread-author,
.thread-content {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}


/* Added styling for search bar */
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -40px;
  margin-left: 116px;
}

.search-bar-container input[type="text"] {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.search-bar-container .search-btn {
  background-color: var(--shamrock-green);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 20px;
  margin-left: 10px;
}

.search-bar-container .search-btn:hover {
  cursor: pointer;
  background-color: var(--hookers-green);
}


/* Create Thread Container styles */

.createthread-container {
  background-color: var(--shamrock-green);
  color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 80px;
  padding-right: 80px;
}

@media (min-width: 1400px) {
  .createthread-container {
    margin-top: 80px;
  }
}

.createthread-header {
  font-size: 36px;
  margin-bottom: 20px;
}

.createthread-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createthread-label {
  font-size: 24px;
  margin-top: 20px;
}

#subject {
  width: 60%;
}

#content {
  height: calc(4 * var(--input-height));
}

.createthread-input,
.createthread-textarea {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  --input-height: 50px;
}

.createthread-input:focus,
.createthread-textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px var(--hookers-green);
}

.createthread-button {
  background-color: var(--yinmn-blue);
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
  margin-top: 20px;
}

.createthread-button:hover {
  background-color: var(--hookers-green);
}


/* Thread container styles */
.thread-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  margin-top:3rem;
  }
  
  .thread-container h2 {
  color: var(--shamrock-green);
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  margin-top: 0;
  margin-left: 295px;

  }
  
  /* Post styles */
  .post {
  border-bottom: 1px solid var(--yinmn-blue);
  margin-bottom: 20px;
  padding-bottom: 20px;
  }

  .post:hover {
    background-color: var(--vista-blue);
  }
  
  .post h3 {
    color: var(--hookers-green);
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .post p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .post .reply-link {
    color: var(--shamrock-green);
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .post .reply-link:hover {
    color: var(--yinmn-blue);
  }
  
  /* Make post button styles */
  .make-post {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }
  
  .make-post button {
  background-color: var(--shamrock-green);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  }
  
  .make-post button:hover {
  background-color: var(--yinmn-blue);
  cursor: pointer;
  }


  /* New post container styles */
.newthread-container {
  background-color: var(--vista-blue);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  margin-top: 100px;
}

.newthread-container h2 {
  color: var(--yinmn-blue);
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  margin-top: 0;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin: 10px 0;
  width: 80%;
}

#post-body{
  margin-top: 10px;
  height: 200px;
}

.form-group label {
  display: block;
  font-size: 18px;
  color: var(--hookers-green);
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  background-color: var(--glaucous);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
}